h1 {
	font-family: 'Castellar';
	font-size: 39;
	font-style: oblique;
}

body {
    background-color: #161616;
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}